// --------------------------------------------------
// Authentication
// --------------------------------------------------

.authentication {

  .card {
    margin: 0 auto;
    max-width: 24rem;
  }
}

.authentication-text {
  margin: ($spacer * 1.5) auto;
  width: 75%;

  > p {
    font-size: .8125rem;
    margin-bottom: 0;
    text-align: center;
  }  
}

@include color-mode(light) {

  .authentication-text {

    > p {
      color: $gray-600;
    }
  }
}

@include color-mode(dark) {

  .authentication-text {
    
    > p {
      color: $gray-400;
    }
  }
}