// --------------------------------------------------
// Forms
// --------------------------------------------------

.app-search {
  max-width: 14rem;

  .btn {
    background-color: $top-nav-search-bg;
    border: none;
    border-radius: 0 1.875rem 1.875rem 0;
    padding-right: 0.9375rem;
  }

  .form-control {
    border: none;
    border-radius: 1.875rem 0 0 1.875rem;
    height: 2.375rem;
    padding-left: 1.25rem;

    &:focus {
      box-shadow: none;
      outline: none;
    }
  }
}

@include color-mode(light) {

  .app-search {

    .form-control {
      background-color: $top-nav-search-bg;
      color: $gray-500;

      &::placeholder {
        color: $gray-500;
      }
    }
  }
}

@include color-mode(dark) {

  .app-search {

    .form-control {
      background-color: $top-nav-search-bg;
      color: $gray-500;

      &::placeholder {
        color: $gray-500;
      }
    }
  }
}

.form-default {

  a {
    color: $gray-600;
    font-size: .8125rem;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }  
}

@include color-mode(light) {

  .form-default {

    .form-control:not(:disabled,.is-invalid),
    .form-select:not(:disabled,.is-invalid) {
      background-color: $gray-150;
    }
  }
}

@include color-mode(dark) {

  .form-default {

    .form-control:not(:disabled,.is-invalid),
    .form-select:not(:disabled,.is-invalid) {
      background-color: $gray-800;
      border-color: $gray-700;
      
      &:focus {
        border-color: $gray-700;
        box-shadow: 
          var(--#{$prefix}focus-ring-x, 0) 
          var(--#{$prefix}focus-ring-y, 0)
          var(--#{$prefix}focus-ring-blur, 0) 
          var(--#{$prefix}focus-ring-width) 
          $gray-700;
      }
    }
  } 
}

.form-group {
  margin-bottom: $spacer;
}

.form-search {

  .input-group {
    position: relative;

    .btn-close {
      position: absolute;
      right: 3rem;
      top: .4375rem;
      z-index: $zindex-dropdown;
    }
  }
}

.toolbar {
  margin-bottom: 1.25rem;
}