// --------------------------------------------------
// Navbar
// --------------------------------------------------

.navbar-custom {
  background-color: $gray-800;
  height: 4.375rem;

  .avatar {
    height: auto;
    opacity: .95;
    width: 2.375rem;
  }

  .lines {
    cursor: pointer;
    display: block;
    width: 1.5rem;

    > span {
      background-color: $gray-100;
      display: block;
      height: 0.125rem;
      margin-bottom: 0.3125rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .navbar-brand,
  .nav-link {
    color: $gray-500;

    &:hover,
    &.active,
    &:focus {
      color: $gray-300;
    }
  }

  .navbar-brand {
    font-size: 0.9375rem;
    margin-right: .5rem;

    .logo {

      h1 {

        span {
          display: none;
        }
      }
    }
  }    

  .nav-link {
    font-size: .875rem;

    &.show {
      color: $gray-300;
    }
  }

  .navbar-toggler {
    border-color: transparent;
  }

  @include media-breakpoint-up(md) {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }
}